[alias]
    a     = add
    ap    = add -p
    b     = branch
    c     = commit
    ca    = commit -a
    co    = checkout
    cm    = commit -m
    d     = diff
    ds    = diff --staged
    dc    = diff --cached
    fp    = format-patch -s -p
    l     = log
    lp    = log --patch
    logo  = log --abbrev-commit --abbrev=6 --pretty=oneline
    one   = "!sh -c 'git show -s --pretty=\"tformat:%h (%s, %ai\" \"$@\" | sed -e \"s/ [012][0-9]:[0-5][0-9]:[0-5][0-9] [-+][0-9][0-9][0-9][0-9]$/)/\"' -"
    purge = !git checkout $(git rev-parse --show-cdup) && git clean -xdf
    serve = !sh -c 'git daemon --reuseaddr --verbose \"$@\" --base-path=. --export-all ./.git' sh
    s     = status
    tagme = !sh -c '[ -z "$1" ] && exit 1 || git tag -s v\"$1\" -m \"release \"$1\"\"' sh
    tush  = push --tags
    who   = "!sh -c 'git log -1 --pretty=\"format:%an <%ae>\" --author=\"$1\"' -"

[color]
    ui = auto

[svn]
    rmdir = true

[pager]
    diff = LESS=RSiM less -c

[user]
	email = maikf@qu.cx
	name = Maik Fischer

[push]
	default = simple

# vim:ts=4 autoindent filetype=gitconfig expandtab
